body {
	margin: 0;
	background-color: #bbb;
	color: black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

p {
	padding: 1em;
	background-color: white;
	color: black;
	box-shadow: 0.3em 0.2em 0.2em rgba(0,0,0,0.2);
}

.top-bar {
	display: grid;
	grid-template-columns: 20em 10em;
	height: 6em;
	background-color: white;
	box-shadow: 0em 0.3em 0.2em rgba(0,0,0,0.2);
}

.top-btns {
	height: 100%;
	width: 100%;
	color: #888;
	font-size: 26px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;

}

.top-btns:hover {
	filter: blur(1px);
	transform: scale(1.1);
	box-shadow: 0em 0.3em 0.2em rgba(0,0,0,0.2);
	transition: 0.2s;
}

.logo {
	height: 6em;
	transition: 0.2s;
}

.logo:hover {
	transform: scale(1.2);
	transition: 0.2s;
}

h2 {
	color: black;
	background-color: white;
	padding: 0.5em;
	width: max-content;
	box-shadow: 0.3em 0.2em 0.2em rgba(0,0,0,0.2);
	transition: 0.2s;
}

h2:hover {
	transform: scale(1.1);
	transition: 0.2s;
}

table {
	color: white;
	font-size: 12px;
}

.tables {
	display: flex;
	padding: 1em;
}

.content {
	padding: 1em;
}

.content-grid {
	padding: 1em;
	display: grid;
	grid-template-columns: 30% 30% 30%;
}

.article-name.a {
	text-decoration: none;
}
