 @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@300&display=swap');

:root {
	--grey1: #36393f;
	--grey2: #2f3136;
	--grey3: #202225;
	--grey4: #808080;
	--simp-red: #a40000;
}

body {
	font-family: Source Code Pro;
	color: white;
	margin: 0;
	background-color: var(--grey1);
}

a {
	text-decoration: none;
}

.top_row {
	height: 15vh;
	background-color: var(--grey3);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
}

.logo {
	height: 100%;
}

.app-grid-container {
	display: grid;
	grid-gap: 2vw;
	font-size: 3vw;
	grid-template-columns: repeat(2, auto);
	justify-content: start;
	margin: 2vw;
}

.app-grid-item {
	background-color: var(--grey3);
	color: #ffffff;
	font-size: 7vw;
	padding: 2vw;
	width: 44vw;
	height: 30vw;
	text-align: center;
	transform: translateY(0px);
	box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.app-grid-item:hover {
	background-image: linear-gradient(to bottom, rgba(30,30,30,0.2), rgba(250,0,0,0.2));
	transform: translateY(-10px);
	box-shadow: 12px 28px 16px 0 rgba(250, 0, 0, 0.2);
	transition: 0.5s;
}

.app-icon {
	height: 16vw;
}

.app-name {
	font-family: Oswald;
	height: 7vw;
}

.app-descript {
	height: 3em;
	color: var(--grey4);
	font-size: 3vw;
	visibility: hidden;
}

@media only screen and (min-width: 800px) {
	.app-grid-container {
		grid-template-columns: repeat(3, auto);
	}

	.app-grid-item {
		font-size: 3vw;
		width: 25vw;
		height: 25vw;
	}

	.app-icon {
		height: 8vw;
	}

	.app-name {
		height: 6vw;
	}

	.app-descript {
		font-size: 1.5vw;
		visibility: visible;
	}
}

@media only screen and (min-width: 1200px) {
	.app-grid-container {
		grid-template-columns: repeat(4, auto);
	}

	.app-grid-item {
		font-size: 2vw;
		width: 15vw;
		height: 15vw;
	}

	.app-icon {
		height: 6vw;
	}

	.app-name {
		height: 4vw;
	}

	.app-descript {
		font-size: 0.8vw;
		visibility: visible;
	}
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
	.app-descript {
		visibility: hidden;
	}
}

.dusan {
	color: #7777;
    position: fixed;
    right: 1vw;
    bottom: 1vh;
}
