 @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@300&display=swap');

:root {
	--grey1: #36393f;
	--grey2: #2f3136;
	--grey3: #202225;
	--grey4: #808080;
}

body {
	font-family: Source Code Pro;
	color: white;
	margin: 0;
	background-color: var(--grey1);
}

a {
	text-decoration: none;
}

.top_row {
	height: 5vh;
	background-color: var(--grey3);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
}

.logo {
	height: 100%;
}

.app-grid-container {
	display: grid;
	grid-gap: 2vw;
	font-size: 3vw;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	margin: 2vw;
}

.app-grid-item {
	background-color: var(--grey3);
	color: #ffffff;
	font-size: 7vw;
	width: 44vw;
	height: 30vw;
	text-align: center;
}

.app-cover {
	height: 20vw;
	background-color: var(--grey3);
	transform: translateY(0%);
	box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
	transition: 1s;
}

.app-grid-item:hover .app-cover {
	background-color: rgba(0, 0, 0, 0);
	transform: translateY(-45%);
	/*box-shadow: 12px 28px 16px 0 rgba(250, 0, 0, 0.2);*/
	box-shadow: inset 0 0 60px rgba(255, 255, 255, 1),
	inset 20px 0 80px rgba(0, 80, 170, 0.8),
	inset -20px 0 80px rgba(255, 80, 0, 1),
	inset 20px 0 300px rgba(0, 80, 170, 0.8),
	inset -20px 0 300px rgba(255, 80, 0, 1),
	0 0 50px rgba(255, 255, 255, 1),
	-10px 0 40px rgba(0, 80, 170, 1),
	10px 0 40px rgba(255, 80, 0, 1);
	transition: 1s;
}

.app-icon {
	height: 16vw;
}

.app-name {
	font-family: Oswald;
	position: absolute;
	bottom: -0.5em;
	width: 100%;
}

.app-descript {
	height: 3em;
	color: var(--grey4);
	font-size: 3vw;
	position: relative;
	z-index: 5;
	bottom: 10%;
	width: inherit;
	visibility: hidden;
}

.app-descript p {
	padding: 0 1vw 0 1vw;
}

@media only screen and (min-width: 800px) {
	.top_row {
		height: 15vh;
	}

	.app-grid-container {
		grid-template-columns: repeat(3, auto);
	}

	.app-grid-item {
		font-size: 3vw;
		width: 28vw;
		height: 28vw;
	}

	.app-cover {
		width: 28vw;
		height: 20vw;
	}

	.app-icon {
		margin-top: 5vw;
		height: 8vw;
	}

	.app-descript {
		font-size: 1.5vw;
		visibility: visible;
	}
}

@media only screen and (min-width: 1200px) {
	.app-grid-container {
		grid-template-columns: repeat(4, auto);
	}

	.app-grid-item {
		font-size: 2vw;
		width: 15vw;
		height: 15vw;
	}

	.app-cover {
		width: 15vw;
		height: 10vw;
	}

	.app-icon {
		margin-top: 2vw;
		height: 6vw;
	}

	.app-descript {
		font-size: 0.8vw;
		visibility: visible;
	}
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
	.app-descript {
		visibility: hidden;
	}
}

.dusan {
	color: #7777;
    position: fixed;
    right: 1vw;
    bottom: 1vh;
}
