body {
	background-color: #bbb;
	color: black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.7);
}

h2 {
	color: white;
	text-shadow: 0.3em 0.2em 0.2em rgba(0,0,0,0.5);
}

table {
	color: white;
	font-size: 12px;
}

.tables {
	display: flex;
	padding: 1em;
}

.card-combi {
	display: flex;
	transition: 0.5s;
}

.card-combi:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.card {
	font-weight: bold;
	background-color: white;
	width: 3em;
	height: 5em;
	border-radius: 0.5em;
	text-shadow: none;
	margin: 0.5em;
	padding: 0.5em;
	display: grid;
	grid-template-columns: 1em auto 1em;
	grid-template-rows: 1em auto 1em;
	box-shadow: 0.5em 0.5em 0.2em rgba(0,0,0,0.2);
}

.card-red {
	color: red;
}

.card-black {
	color: black;
}

.card-empty {
	filter: opacity(0.5);
}

.card-label-t {
	grid-area: 1 / 1 / 1 / 1;
}

.card-label-b {
	grid-area: 3 / 3 / 3 / 3;
}

.card-img {
	grid-area: 2 / 2 / 2 / 2;
	width: 200%;
	right: 50%;
	height: 60%;
	margin: auto;
	position: relative;
}
